html 					{ overflow-y:scroll; }
body 					{ padding-top:50px; }
#todo-list 				{ margin-bottom:30px; }
#todo-form 	 			{ margin-bottom:50px; }
.ng-invalid.ng-dirty {
    /*border-color: red;*/
}
.ng-valid.ng-dirty {
    /*border-color: green;*/
}
.angular-with-newlines {
  white-space: pre-wrap;
}
.btn-del {
  float: right;
}
