<div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Name (required)" ng-model="workoutData.name">
                    <input type="text" placeholder="Date (Default:now)" ng-model="workoutData.date">
                </div>
                
            </form>
        </div>
    </div>


    <!-- Workout LIST -->
    <div class="row">
        <div class="col-sm-12" ng-model="workoutData.exercises">
            <button class="addfields btn btn-default btn-sm" ng-click="addNewExercise()">Add Exercise</button>
            <br>
            <br>
            <div data-ng-repeat="exercise in exercises">
                <fieldset >
                    <input type="text" ng-model="exercise.name" name="" placeholder="Enter exercise name">
                    <div style="margin-left: 40px" data-ng-repeat="set in exercise.sets" class="row">
                        <div class="col-sm-8 col-md-10 input-group">
                            <input type="number" ng-model="set.weight" placeholder="Enter weight">
                            <input type="number" ng-model="set.reps" placeholder="Enter reps">
                            <input type="number" ng-model="set.sets" placeholder="Enter sets">
                            <input type="text" ng-model="set.rest" size="12" placeholder="Enter rest">
                            <input type="number" ng-model="set.RPE" size="12" placeholder="Enter RPE">
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <button class="addfields btn btn-default btn-sm" ng-show="$last" ng-click="addNewSet(exercise.exerciseID)">+</button>
                            <button class="addfields btn btn-default btn-sm" ng-show="$last" ng-click="removeSet(exercise.exerciseID, set.setID)">-</button>
                        </div>
                    </div>
                    <!-- <div ng-if="exercises[exercise.exerciseID].sets.length< 1"><p></p></div>
                    <br>
                    <button class="addfields btn btn-default btn-sm" ng-click="addNewSet(exercise.exerciseID)">Add set</button> -->
                </fieldset>
                <br>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="createWorkout()">Save</button>
    <br>
    <br>
    {{workoutData}}