<div class="container" ng-controller="mainController">
    <!-- Workout LIST -->
    <div class="row">
        <div class="col-sm-12" ng-model="workoutData.exercises">
            <button class="addfields btn btn-default btn-sm" ng-click="addNewExercise()">Add Exercise</button>
            <br>
            <div data-ng-repeat="exercise in exercises">
                <fieldset >
                    <input type="text" ng-model="exercise.name" name="" placeholder="Enter exercise name">
                    <div style="margin-left: 40px" data-ng-repeat="set in exercise.sets">
                        <input type="number" ng-model="set.weight" name="" placeholder="Enter weight">
                        <input type="number" ng-model="set.reps" name="" placeholder="Enter reps">
                        <input type="number" ng-model="set.sets" name="" placeholder="Enter sets">
                        <button class="remove" ng-show="$last" ng-click="removeMain()">-</button>
                    </div>
                    <div ng-if="exercises[exercise.exerciseID].sets.length< 1"><p></p></div>
                    <br>
                    <button class="addfields btn btn-default btn-sm" ng-click="addNewSet(exercise.exerciseID)">Add set</button>
                </fieldset>
                <br>
            </div>
            {{exercises}}
        </div>
    </div>
    {{workoutData}}
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div ng-repeat="workout in workouts | limitTo : -5">
                <label>{{ workout.name }}</label>
                
            </div>
            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>

        </div>
    </div>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="workoutData.name">
                    <input type="text" class="form-control input-md text-center" placeholder="Date" ng-model="workoutData.date">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createWorkout()">Add</button>
            </form>
        </div>
    </div>

</div>