<div class="container" ng-controller="mainController">
<a class="glyphicon glyphicon-plus" ui-sref=".create"> Create</a>&nbsp &nbsp &nbsp
<a class="glyphicon glyphicon-calendar" ui-sref=".workout"> Logs</a>

<div ui-view></div>
    <div id="" class="row">
        <!--  <div class="col-sm-4 col-sm-offset-4 text-center">
            LOOP OVER THE TODOS IN $scope.todos
            <span ng-repeat="workout in workouts | limitTo : -5">
        <a>{{ workout.name }}</a> &nbsp&nbsp {{$index}}
            </span>
            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>

        </div>
    </div>  -->






</div>
